body {
    background-image: url(Image/982236-black-minimalist.jpg);
    width: 100%;

}

#container{

    width: 70%;
    margin-left: auto;
    margin-right: auto

}


#header {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    color: white;
    text-align: center;
    margin-top: 20px;
    min-height: 100px;
    opacity: 50%;
    width: 100%;

}



.content {
    background-color: rgba(255, 228, 196, 0.9);
    width: 100%;
    min-height: 100%;
    padding: 0px;
}

#menu {
    width: 93,5%;
    background-color: 	#7fffdf;
    margin-top:  10px;
    padding: 50px;
    text-align: center;
    font-family: "Lora", "Serif";
    color: black;
    font-weight: 900;
    box-shadow: 0px 0px  1px rgba(84,13,12,1.0);
}

#menu li {
  background: #7fffdf;
    float: right;
}

li a  {
  transition: 0.3s ease;
  background: #7fffdf;
  color: #010101;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #7fffdf;
  border-bottom: 4px solid #7fffdf;
  padding: 20px 0;
  margin: 0 20px;
}



li a:hover {
  border-top: 4px solid #010101;
  border-bottom: 4px solid #010101;
  padding: 6px 0;
}


.drobtn {

  background: #7fffdf
  display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}


.dropdown {
    display: inline-block
    width: 33%;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7fffdf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    padding: 10px;

}

.dropdown:hover .dropdown-content {
    display: block;
}




/* OPISY */


.element {

    min-height: 280px;
    height: auto;

}

.elementL {

    float: left;
    width: 30%;
    margin-left: 3%;
    margin-top: 3%;

}

.obraz {
    margin-left: 20%;
    margin-right: 10%;
    float: left;


}

.elementP {

    float: left;
    width: 60%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

.close {

    clear: both;
    height: 35px;
}

p  {

    font-family: "Noto Serif" ;
    font-size: 15px;
}

h2 {
    margin-top: -0px;
    font-family: "Lora", "Serif" ;
    font-size: 30px;
}

.gif {
    margin-left: 20%;
    padding-top: 0px;

}

h1 {

    font-family: "Lora" , "Serif";
    font-size: 70px;
    margin-top: -1px;
    padding-top: 50px;
    text-align: center;



}


/*responsywnosc*/


/*tablety*/
@media (max-width: 751px) and (min-width: 302px) {

#menu
{


}





}





/*smartfony*/
@media (max-width: 301px) {
    
    
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    
    h1 { font-size: 20px;}
    
    #menu li {
        width: 100%;
        max-width: 100%;
        padding: 30px;
      
            
    }
    
    li a {
        
        display: block;
        text-align: center;
    }

#menu
{ 
    
}


}
